<h2>Edit A Figure</h2>

<!-- add content here -->
<form method='POST' action='/figures/<%= @figure.id %>'>
  Name: <input type='text' name='figure[name]' id='figure_name'><br>
  Titles:<br>
  <% @titles.each do |title| %>
    <input type='checkbox' name='figure[title_ids][]' value="<%= title.id %>" id='title_<%= title.id %>' <%= 'checked' if @figure.titles.include?(title) %>><%= title.name %><br>
  <% end %>
  New title: <input type='text' name='title[name]' id='new_title'><br>
  Landmarks:<br>
  <% @landmarks.each do |landmark| %>
    <input type='checkbox' name='figure[landmark_ids][]' value="<%= landmark.id %>" id='landmark_<%= landmark.id %>' <%='checked' if @figure.landmarks.include?(landmark) %>><%= landmark.name %><br>
  <% end %>
  New Landmark: <input type='text' name='landmark[name]' id='new_landmark'><br>
  <input type='submit' id='Create New Figure'>
</form>


<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
